<img id="welcome" src="images/big_codemt_logo_03.png" alt="Welcome to Code Mountain" />
<p>
  This is the home page for the Code Mountain sandbox app.
</p>

<%= link_to "Climb Code Mountain", signup_path, :class => "signup_button round" %>