<<<<<<< HEAD
<h1>Welcome</h1>
<img id="welcome" src="images/big_codemt_logo_03.png" alt="Welcome to Code Mountain" />
<p>
  This is the home page for the Code Mountain sandbox app.
=======
<img id="welcome" src="images/code_mt_logo_03.png" alt="Welcome to Code Mountain" />
<p>
  The year is 3523. We have failed as a human society. 
  We were once a society of the Great Builders, craftsmen who chose to create solutions and build lasting institutions for the world to be a better place.
  Unfortunately, we humans chose to become complacent and selfish. However, there is one last hope. An old myth describes a place called Code Mountain, the legendary source of Rubies and where Rails was founded.
  But how will we get there? By learning Ruby on Rails.
>>>>>>> f6b7d4b5dc5fd35a2ced48630d0e36ff232ac9c7
</p>

<%= link_to "Climb Code Mountain", signup_path, :class => "signup_button round" %>