<footer> 
  <nav class="round">
    <ul> 
      <li><%= link_to "About", '#' %></li> 
      <li><%= link_to "Contact", '#' %></li> 
      <li><a href="http://nealg223.github.com/">Blog</a></li>
      <li><a href="http://www.codeacademy.org/">Code Academy</a></li>
    </ul> 
  </nav>
</footer>